# List

In [1]:
student1 = 'ali'
student2 = 'hamza'

In [2]:
students = ['ali', 'hamza', 'asad', 'saqib']
#index         0     1        2        3
type(students)

list

In [3]:
aList = ['karachi', 120, 34.5, True]
aList

['karachi', 120, 34.5, True]

In [6]:
students[4]

IndexError: list index out of range

In [7]:
del students[2] # inplace (delete by index)
students

['ali', 'hamza', 'saqib']

In [8]:
students.remove('saqib') #remove by value
students

['ali', 'hamza']

In [9]:
students.remove('saqib')
students

ValueError: list.remove(x): x not in list

In [10]:
students[1] = 'hussain' #update
students

['ali', 'hussain']

In [11]:
city = []

In [15]:
city.append('karachi') # to insert value
city

['karachi', 'lahore', 'lahore', 'karachi']

In [16]:
city.append('lahore')
city

['karachi', 'lahore', 'lahore', 'karachi', 'lahore']

In [17]:
city.insert(2, 'sibi') #to insert on particular index
city

['karachi', 'lahore', 'sibi', 'lahore', 'karachi', 'lahore']

In [18]:
city.insert(20, 'quetta')
city

['karachi', 'lahore', 'sibi', 'lahore', 'karachi', 'lahore', 'quetta']

In [24]:
city.index('lahore', 2) #to find index

3

In [20]:
city.index('Quetta')

ValueError: 'Quetta' is not in list

In [25]:
len(city)

7

In [26]:
city.clear()

In [27]:
city

[]

In [28]:
sortList = [2, 56, 23, 3, 87, 9]

In [30]:
sortList.sort()
sortList

[2, 3, 9, 23, 56, 87]

In [31]:
sortList.sort(reverse = True)
sortList

[87, 56, 23, 9, 3, 2]

In [34]:
aList = ['hamza', 'a', 'c', 'z', 'b']

In [36]:
aList.sort()
aList

['a', 'b', 'c', 'hamza', 'z']

In [37]:
aList.reverse()
aList

['z', 'hamza', 'c', 'b', 'a']

In [41]:
numbers = [34, 5, 89, 23, 67, 98]

In [42]:
k=numbers
k

[34, 5, 89, 23, 67, 98]

In [43]:
numbers.append(100)

In [44]:
numbers

[34, 5, 89, 23, 67, 98, 100]

In [45]:
k

[34, 5, 89, 23, 67, 98, 100]

In [46]:
k.append(200)

In [47]:
numbers

[34, 5, 89, 23, 67, 98, 100, 200]

In [48]:
a=numbers.copy() #First method

In [49]:
a

[34, 5, 89, 23, 67, 98, 100, 200]

In [50]:
a.append(500)

In [51]:
numbers

[34, 5, 89, 23, 67, 98, 100, 200]

In [52]:
a

[34, 5, 89, 23, 67, 98, 100, 200, 500]

In [53]:
b=a[:] #similar as copy method
#second method

In [54]:
b

[34, 5, 89, 23, 67, 98, 100, 200, 500]

# List into List

In [57]:
list1=[1,2,3,4,5,['apple','orange','mango'],students]
#index 0 1 2 3 4         5                    6

In [56]:
list1[5]

['apple', 'orange', 'mango']

In [58]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hussain']]

In [59]:
list1[5][2]

'mango'

In [60]:
list1[6][0]

'ali'

In [61]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hussain']]

In [62]:
list1[6].insert(1,'Asadullah')
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'Asadullah', 'hussain']]

In [63]:
students

['ali', 'Asadullah', 'hussain']

In [64]:
list1[6].remove('Asadullah')
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hussain']]

In [65]:
students

['ali', 'hussain']

In [66]:
4 in list1

True

In [68]:
'mango' in list1[5]

True

# Slicing

In [69]:
list2=['a','c','d','e','f']
#index  0   1   2   3   4
list2

['a', 'c', 'd', 'e', 'f']

In [81]:
s=list2[2:4]
s

['d', 'e']

In [82]:
s=list2[2:5]
s

['d', 'e', 'f']

In [83]:
s=list2[2:]
s

['d', 'e', 'f']

In [84]:
s=list2[:3]
s

['a', 'c', 'd']

In [85]:
s=list2[:]
s

['a', 'c', 'd', 'e', 'f']

In [86]:
s=list2[4:2]
s
#slicing always from left to right

[]

# negative indexing

In [88]:
list3=['apple', 'oranges', 'bananas', 'grapes','melon','peech ','watwermeloon']
#index   -7        -6        -5         -4       -3       -2         -1

In [90]:
list3[-6]

'oranges'

In [91]:
list3[-4]

'grapes'

In [94]:
s=list3[-5:]
s
list3

['apple', 'oranges', 'bananas', 'grapes', 'melon', 'peech ', 'watwermeloon']

In [96]:
s=list3[-5:1]
s

[]

In [95]:
s=list3[-5:5]
s

['bananas', 'grapes', 'melon']

In [ ]:
s=list3[:]
s

# popping

In [99]:
list4=['asad','hamza','ali']
a=list4.pop()
print(list4)
a

['asad', 'hamza']

'ali'

In [126]:
list5=['asad','hamza','ali','asad','saad']

In [127]:
poppedList=[]

In [137]:
poppedValue=list5.pop()
poppedList.append(poppedValue)

In [138]:
print(list5)
poppedList

[]

['saad', 'asad', 'ali', 'hamza', 'asad']

In [132]:
# a=list4.pop(1)
# a