# Functions

In [1]:
def calc():             #function definition
    print('Hello PIAIC')

In [2]:
calc()    #function calling

Hello PIAIC

In [3]:
calc()

Hello PIAIC

In [4]:
calc()

Hello PIAIC

In [5]:
def abc():
    print('a')
    print('b')
    print('c')

In [6]:
abc()

a
b
c

In [3]:
def sum():
    x = 2 + 2
    print(x)

In [4]:
sum()

4

In [9]:
sum()

4

In [10]:
sum()

4

In [5]:
def add(x,y): # x and y are parameters
    z = x + y
    print(z)

In [12]:
add()

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [6]:
add(2,4) # 2 and 4 are func arguments

6

In [14]:
add(18,39)

57

In [15]:
add(547,786)

1333

In [16]:
add(5)

TypeError: add() missing 1 required positional argument: 'y'

In [17]:
#Calculator
#create function with three parameters

In [7]:
def calculator(num1, num2, opr):
    if opr == '+':
        print(num1 + num2)
    elif opr == '-':
        print(num1 - num2)
    elif opr == '*':
        print(num1 * num2)
    elif opr == '/':
        print(num1 / num2)
    else:
        print('Wrong Operator')

In [8]:
calculator(34,3,'-')

31

In [9]:
cities = ['khi', 'lhr', 'isb','psh']

In [10]:
def city(x):
    for i in x:
        print(i)

In [11]:
city(cities)

khi
lhr
isb
psh

In [24]:
city('Karachi')

K
a
r
a
c
h
i

In [25]:
#Function to print even numbers only from list
num = [2, 3, 4, 5, 6, 7, 8, 9, 22, 23, 24]

def even_no(x):
    for i in x:
        if i % 2 == 0:
            print(i)
            
even_no(num)

2
4
6
8
22
24

In [26]:
def add(x,y):
    z = x + y
    return z

In [28]:
add(2,4)
print('------')

------

In [29]:
i = add(3,4)
print(i)

7

In [31]:
def add(x,y):
    z = x + y
    return z
    print(z)

In [33]:
new_a = add(2,3)
new_a

5

In [41]:
def add(x,y):
    z = x + y
    return z

In [42]:
new_a = add(2,3)

if new_a == 5:
    print('Valid Number')

Valid Number

In [43]:
#Discount Calculator
# If value is greater than 100 than add 10 in original value
# and if value is lesser than 100 than no discount
# 1% discount on value of 100 add 5 in original value

In [59]:
def discount(x):
    if x > 100:
        y = x + 10
        return y
    elif x < 100:
        return x

In [60]:
discount(120)

130

In [46]:
discount(89)

89

In [47]:
discount(100)

5

In [55]:
def add_p(x,y):
    z = x + y
    print(z)

In [56]:
x = add_p(5,10)

for i in range(x):
    print(i)

15

TypeError: 'NoneType' object cannot be interpreted as an integer

In [57]:
def add_r(x,y):
    z = x + y
    return z

In [58]:
x = add_r(5,10)

for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [61]:
def full_name(fname,lname):
    print(f'My name is {fname} {lname}')

In [62]:
full_name('ada','lovelace')

My name is ada lovelace

In [63]:
full_name('asad','noor')

My name is asad noor

In [64]:
full_name('noor', 'asad')

My name is noor asad

In [65]:
#Keyword Arguments
full_name(lname='noor',fname='asad')

My name is asad noor

In [67]:
def name(fname,mname,lname):
    print(f'My name is {fname} {mname} {lname}')

In [68]:
name('asad','ullah','noor')

My name is asad ullah noor

In [69]:
name('hamza','khan')

TypeError: name() missing 1 required positional argument: 'lname'

In [70]:
def name(fname,lname, mname = ' '): #default argument
    print(f'My name is {fname} {mname} {lname}')

In [71]:
name("hamza" , "khan")

My name is hamza   khan

In [74]:
name('asad','ullah','noor')

My name is asad noor ullah

In [75]:
name(fname='asad',mname='ullah',lname='noor')

My name is asad ullah noor

In [76]:
def dict():
    new_dict = {1:'karachi', 2:'lahore',3:'quetta'}
    return new_dict

In [77]:
a = dict()

print(a[3])

quetta

In [81]:
#write a function that Takes two list as an argument
num1 = [2, 4, 6, 8, 10]
num2 = []

def new_list(x,y):
    for i in x:
        y.append(i)
    return y

In [82]:
x = new_list(num1, num2)
print(x)

[2, 4, 6, 8, 10]

In [83]:
for z in x:
    print(z)

2
4
6
8
10

In [8]:
import numpy as np

In [20]:
x = np.arange(25).reshape((5 ,-1))
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])