# Tupple

In [1]:
myTupple = (12,13,14,"nASIR", 'ASAD')

In [2]:
myTupple[3]

'nASIR'

In [3]:
myTupple[3] = 'hussain' # tupple is immutable

TypeError: 'tuple' object does not support item assignment

In [31]:
city= 'khi', 'lhr' ,'lhr' ,'lhr'  , 'khi', 'khi'

In [32]:
city

('khi', 'lhr', 'lhr', 'lhr', 'khi', 'khi')

In [33]:
city1 = ('as','saad')

In [34]:
city = city + city1

In [35]:
city

('khi', 'lhr', 'lhr', 'lhr', 'khi', 'khi', 'as', 'saad')

In [36]:
city.count("khi")

3

In [37]:
city.index('khi',3)

4

In [27]:
square = (12,16) #packing

In [41]:
l,b = square    #unpacking

In [42]:
l

12

In [43]:
b

16

In [44]:
listing  = [333,444,555] #packing of list

In [45]:
listing

[333, 444, 555]

In [46]:
a,b,c = listing # unpacking of list

In [47]:
print(a,b,c)

333 444 555

In [48]:
name = "Pakistan"

In [49]:
name[3:6]

'ist'

In [50]:
len(name)

8

In [51]:
name[3]

'i'

# For Loops

In [53]:
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")
print("Hello Pakistan")

Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan

In [66]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

In [60]:
for i in range(1,10):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [63]:
for i in range(0,20,2 ):# range(start, end, step)
    print(i, end = " ")

0 2 4 6 8 10 12 14 16 18

In [64]:
for i in range(20,0,-1):
    print(i, end = " ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [68]:
for num in [22,33,44,55,66,77,88,99]:
    print(f"the number in list is {num}")

the number in list is 22
the number in list is 33
the number in list is 44
the number in list is 55
the number in list is 66
the number in list is 77
the number in list is 88
the number in list is 99

In [69]:
students = ['aa','dd','rr','tt']
for mem in students:
    print(mem)

aa
dd
rr
tt

In [72]:
for character in "Pakistan":
    print(character)

P
a
k
i
s
t
a
n

In [75]:
for a in range(1,10):    
    if a==4:       
        continue
    print(a)

1
2
3
5
6
7
8
9

In [76]:
for a in range(1,10):    
    if a==4:       
        break
    print(a)

1
2
3

In [77]:
friends = ['asad', 'amir', 'fahad', 'saad', 'faisal']

for friend in friends:
    if friend!="saad":
        print(f"Welcome to the Party {friend}")
    else:
        print(f"Party is over {friend}")
        continue

Welcome to the Party asad
Welcome to the Party amir
Welcome to the Party fahad
Party is over saad
Welcome to the Party faisal

In [78]:
for friend in friends:
    if friend!="saad":
        print(f"Welcome to the Party {friend}")
    else:
        print(f"Party is over {friend}")
        break

Welcome to the Party asad
Welcome to the Party amir
Welcome to the Party fahad
Party is over saad

# Nested for loops

In [79]:
fNames = ['Nasir', 'Asad', 'Kamran']
lNames = ['Hussain', "Amin", 'Fazal']
for fName in fNames:
    for lName in lNames:
        print(fName,lName)

Nasir Hussain
Nasir Amin
Nasir Fazal
Asad Hussain
Asad Amin
Asad Fazal
Kamran Hussain
Kamran Amin
Kamran Fazal

In [80]:
table = int(input("Enter table number: "))

for num in range(1,11):
   
    print(f"{table} * {num} = {table*num}")

Enter table number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [83]:
for tables in range(2,6):
    print("##########")
    for num in range(1,11):
        
        print(f"{tables} * {num} = {tables*num}")

##########
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
##########
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
##########
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
##########
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Dictionaries

In [86]:
dic = {"name":"Hamza", "age":23, "gender":"male"} #{key:value}

In [87]:
dic

{'name': 'Hamza', 'age': 23, 'gender': 'male'}

In [88]:
dic["name"]

'Hamza'

In [89]:
dic['gender']

'male'

In [90]:
# a list in dictionary

dic2 = {'names':["asd",'saad','fahad','hassan'], 'degrees':["A","B"]}

In [91]:
dic2

{'names': ['asd', 'saad', 'fahad', 'hassan'], 'degrees': ['A', 'B']}

In [92]:
#a dictionary in list
listing = [11,22,dic2]

In [93]:
listing

[11, 22, {'names': ['asd', 'saad', 'fahad', 'hassan'], 'degrees': ['A', 'B']}]

In [94]:
#A dictionary in dictionary
uDic = {1:"apple", 2:{"time":"2pm", "day":"monday"}}
uDic

{1: 'apple', 2: {'time': '2pm', 'day': 'monday'}}

In [95]:
dic = {"name":"Hamza", "age":23, "gender":"male", 'qua':"ABCD"}

In [96]:
for key in dic.keys():
    print(key)

name
age
gender
qua

In [97]:
for val in dic.values():
    print(val)

Hamza
23
male
ABCD

In [98]:
for k,v in dic.items():
    print(k,v)

name Hamza
age 23
gender male
qua ABCD

In [99]:
for key in dic.keys():
    print(dic[key])

Hamza
23
male
ABCD

In [100]:
dic['address']="chakiwara"

In [101]:
dic

{'name': 'Hamza',
 'age': 23,
 'gender': 'male',
 'qua': 'ABCD',
 'address': 'chakiwara'}