# Python First Class

This is Python First class.

In [5]:
print(123) #integer

123

In [8]:
print(23.4) #float

23.4

In [7]:
print('Hello PIAIC') #string

Hello PIAIC

In [11]:
print("Hello World") #string

Hello World

In [10]:
print(True) #bool

True

In [12]:
print()  #shift + tab

In [13]:
print(123,3.45, 'Hello', False)

123 3.45 Hello False

In [14]:
print(123,3.45, 'Hello', False, sep = '')

1233.45HelloFalse

In [15]:
print(123,3.45, 'Hello', False, sep = '==')

123==3.45==Hello==False

In [16]:
print(123,3.45, 'Hello', False, sep = 'I am a Seperator')

123I am a Seperator3.45I am a SeperatorHelloI am a SeperatorFalse

In [17]:
print('Hello World')
print('Hello Python')
print('Hello PIAIC')

Hello World
Hello Python
Hello PIAIC

In [18]:
print('Hello World', end = '')
print('Hello Python', end = '')
print('Hello PIAIC')

Hello WorldHello PythonHello PIAIC

In [20]:
print('Hello World', end = '\t')
print('Hello Python', end = '\t\t')
print('Hello PIAIC')

Hello World	Hello Python		Hello PIAIC

# Assignment-1

You have to search all Escape Characters of Python and have to Implement them as well.

# Variables

In [21]:
age = 26

In [22]:
print(age)

26

In [23]:
name = 'Nasir Hussain'

In [24]:
result = True

In [25]:
1name = 'test'

SyntaxError: invalid syntax (<ipython-input-25-f1ddaa2ff1bf>, line 1)

In [26]:
n1a2m3e4 = 'Haseeb'

In [27]:
@name = 'Shahzad'

SyntaxError: invalid syntax (<ipython-input-27-afff2066e52c>, line 1)

In [28]:
na$me = 'Hamza'

SyntaxError: invalid syntax (<ipython-input-28-d7d8f57442f7>, line 1)

In [29]:
_ = 5

In [30]:
na_me = 'test'

In [31]:
na me = 'test'

SyntaxError: invalid syntax (<ipython-input-31-ea8bfbccaaf4>, line 1)

In [32]:
True = 234

SyntaxError: can't assign to keyword (<ipython-input-32-eb7548455eff>, line 1)

In [33]:
true = 234

In [34]:
x = 4
y = 5
z = x + y

In [35]:
print(z)

9

In [36]:
a = 4
b = 4.5
c = a + b

In [37]:
print(c)

8.5

In [38]:
c = 4 + 5 + 6.7

In [39]:
print(c)

15.7

In [40]:
4/4 # answer will be float

1.0

In [41]:
4 // 4

1

In [44]:
round((10 / 3), 3)

3.333

In [43]:
10//3

3

In [47]:
print('apple ' * 5)

apple apple apple apple apple

# Concatenation

In [48]:
a = '10'
b = '20'

In [49]:
type(a) # to check the datatype

str

In [50]:
a + b

'1020'

In [51]:
age = 26
name = 'Ali'
print('My name is name and my age is age')

My name is name and my age is age

In [63]:
name = input('What is your name? ')
age = int(input('What is your age? '))


print('My name is ' + name + ' and my age is ' + str(age))
print(age - 10)


print('my name is', name , 'and my age is ', age)

What is your name? as
What is your age? 23
My name is as and my age is 23
13
my name is as and my age is  23

In [56]:
x = input() # type casting
type(x)

12

str

In [57]:
x = int(input()) # type casting
type(x)

12

int

In [67]:
name = input('What is your name? ')
age = int(input('What is your age? '))

print('My name is {0} and my age is {0}'.format(name,age))  #place holder {}

What is your name? rtrt
What is your age? 56
My name is rtrt and my age is rtrt

In [68]:
name = input('What is your name? ')
age = int(input('What is your age? '))

print(f'My name is {name} and my age is {age}')

What is your name? asd
What is your age? 34
My name is asd and my age is 34